# Flask Configuration
FLASK_APP=backend.main
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=your-secret-key-here

# Database Configuration
SQLALCHEMY_DATABASE_URI=sqlite:///polyprint.db
SQLALCHEMY_TRACK_MODIFICATIONS=False

# File Upload Configuration
UPLOAD_FOLDER=backend/uploads
OUTPUT_FOLDER=backend/output
CONFIG_PATH=backend/slicer/config/config.ini
MAX_CONTENT_LENGTH=16777216

# CORS Configuration
CORS_ORIGINS=http://localhost:3000

# Session Configuration
SESSION_TYPE=filesystem
PERMANENT_SESSION_LIFETIME=1800

# Logging
LOG_LEVEL=DEBUG

# Server Configuration
SFTP_HOST=your_sftp_host
SFTP_USERNAME=your_sftp_username
SFTP_PASSWORD=your_sftp_password
SFTP_REMOTE_PATH=/home/polyprint/3d_prints

# Application Configuration
PRINTER_COUNT=4
PADDING=10
BUILD_VOLUME=250,210,210
PRUSA_SLICER_PATH=C:\Program Files\Prusa3D\PrusaSlicer\prusa-slicer-console.exe
LOCAL_OUTPUT_PATH=backend/slicer/output
PRINT_CHECK_INTERVAL=5

# Email Configuration
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=True
EMAIL_USER=your_email_username
EMAIL_PASSWORD=your_email_password

# File Manager Configuration
FILE_MANAGER_USERNAME=your_file_manager_username
FILE_MANAGER_PASSWORD=your_file_manager_password
FILE_MANAGER_REMOTE_PATH=/remote

# OctoPrint Configuration
OCTOPRINT_TIMEOUT=10

# Printer Configurations (or add trough either database or adminpanel )
PRINTER1_IP=192.168.x.x
PRINTER1_API_KEY=your_api_key

PRINTER2_IP=192.168.x.x
PRINTER2_API_KEY=your_api_key

PRINTER3_IP=192.168.x.x
PRINTER3_API_KEY=your_api_key

PRINTER4_IP=192.168.x.x
PRINTER4_API_KEY=your_api_key

PRINTER_USERNAME=your_printer_username
PRINTER_PASSWORD=your_printer_password