# Flask Configuration
FLASK_APP=backend.main
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=your-secret-key-here

# Database Configuration
SQLALCHEMY_DATABASE_URI=sqlite:///polyprint.db
SQLALCHEMY_TRACK_MODIFICATIONS=False

# File Upload Configuration
UPLOAD_FOLDER=backend/uploads
OUTPUT_FOLDER=backend/output
CONFIG_PATH=backend/slicer/config/config.ini
MAX_CONTENT_LENGTH=16777216

# CORS Configuration
CORS_ORIGINS=http://localhost:3000

# Session Configuration
SESSION_TYPE=filesystem
PERMANENT_SESSION_LIFETIME=1800

# Logging
LOG_LEVEL=DEBUG

# DATABASE_URL=mysql://user:password@localhost/polyprint
# DEBUG=True

# Server Configuration
SFTP_HOST=10.2.xxx.x
SFTP_USERNAME=polyprint
SFTP_PASSWORD=your_password_here
SFTP_REMOTE_PATH=REMOTE_PAT

# Application Configuration
PRINTER_COUNT=4
PADDING=10
BUILD_VOLUME=250,210,210
PRUSA_SLICER_PATH=PATH_TO_PRUSA_SLICER
LOCAL_OUTPUT_PATH=LOCAL_OUTPUT_PATH