FLASK_APP=backend.main
FLASK_ENV=development
SECRET_KEY=your-secret-key-here
FLASK_DEBUG=1
//DATABASE_URL=mysql://user:password@localhost/polyprint
//DEBUG=True

# Server Configuration
SFTP_HOST=10.2.xxx.x
SFTP_USERNAME=polyprint
SFTP_PASSWORD=your_password_here
SFTP_REMOTE_PATH=REMOTE_PATH

# Application Configuration
PRINTER_COUNT=4
PADDING=10
BUILD_VOLUME=250,210,210
PRUSA_SLICER_PATH=PATH_TO_PRUSA_SLICER
LOCAL_OUTPUT_PATH=LOCAL_OUTPUT_PATH