flask
flask-cors
flask-mail
werkzeug
python-dotenv
trimesh
pathlib
python-slugify
numpy
networkx
scipy
paramiko
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
SQLAlchemy
marshmallow
uuid
typing-extensions
datetime
requests
requests-toolbelt
flask-socketio 
eventlet