flask
flask-cors
werkzeug
python-dotenv
trimesh
pathlib
python-slugify
numpy
networkx
scipy
paramiko
Flask-SQLAlchemy
Flask-Login
Flask-Migrate
SQLAlchemy
marshmallow
uuid
typing-extensions
logging
datetime